<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Search:</span>
    <input type="text" class="form-control" placeholder="Username" id="search">
</div>
<br>
<div class="players row"></div>
<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

<script>
    $(function () {
        /* AJAX player list */
        var getPlayers = function (page) {
            $.ajax('{{ ajax }}?call=allPlayers', {
                data: {
                    page: page,
                    search: $('#search').val()
                },
                success: function (data) {
                    var url = data.info.url;
                    $('.players').html('');
                    for (var i in data.data) {
                        if (data.data.hasOwnProperty(i)) {
                            $('.players').append('<div class="col-md-3 col-sm-6"><div class="panel panel-default"><div class="panel-body"><a href="' + url.replace('{UUID}', data.data[i].uuid).replace('{NAME}', data.data[i].name) + '"><img src="https://crafatar.com/avatars/' + data.data[i].uuid + '?overlay&size=32.png" alt="" height="32" width="32"> ' + data.data[i].name + '</a></div></div></div>');
                        }
                    }
                }
            });
        };

        var currentPage = 0;

        getPlayers(currentPage);
        $('#search').on("change input", function () {
            currentPage = 0;
            getPlayers(currentPage);
        });

        $('.next').click(function (event) {
            event.preventDefault();
            currentPage += 1;
            getPlayers(currentPage);
        });

        $('.previous').click(function (event) {
            event.preventDefault();
            currentPage -= 1;
            getPlayers(currentPage);
        });
    });
</script>
