<div class="row quick-info">
    <div class="col-md-3 col-xs-6">
        <div class="well panel" style="text-align: center;">
            <h2><i class="fa fa-group fa-lg"></i></h2>
            <h4>{{ module:onlineCount }} online</h4>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="well panel" style="text-align: center;">
            <h2><i class="fa fa-pencil fa-lg"></i></h2>
            <h4>{{ module:playerCount }} tracked</h4>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel">
           <div class="panel-body">
               {{ module:onlinePlayers }}
           </div>
        </div>
    </div>
</div>
{{ module:topPlayers }}
{{ module:grandTotals }}
